name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Backend Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest ./backend

      - name: Build Frontend Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest ./frontend

      - name: Push Backend Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest

      - name: Push Frontend Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest

      - name: Deploy to VM
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd /root/mean-project/intern-mean-devops-project
            docker-compose pull
            docker-compose down
            docker-compose up -d